body {
  margin: auto;
  padding: 0;
  width: 1024px;
  height: 768px;
}

.ng-invalid {
    border: 1px solid red !important;
}

.root-container {
  width: 100%;
  height: 100%;
  padding: 0;
}

.root-container .root-nav {
  padding: 0;
}

.root-container .page-header {
  margin-top: 5px;
}
