body {
  margin: auto;
  padding: 0;
  width: 1024px;
  height: 768px;
}

.ng-invalid {
    border: 1px solid red !important;
}

.root-container {
  width: 100%;
  height: 100%;
  padding: 0;
}

.root-container .root-nav {
  padding: 0;
}

.root-container .page-header {
  margin-top: 5px;
}

.root-container .right-container {
  height: 100%;
  overflow-y: auto;
}

.root-container .right-container .btn-double-group button {
  width: 49%;
}

.root-container .right-container .btn-double-group button:last-child {
  float:right !important;
}

.dialog-content h2 {
  margin-top: 10px;
  margin-bottom: 20px;
}

.dialog-content .content {
  font-size: 20px;
}

.dialog-content .content input[text] {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.dialog-content .content ul {
  margin-top: 10px;
}

.dialog-content .content .info {
  margin: 5px 0px 0px 20px;
}

.dialog-content .content .info span {
  font-weight: bold;
}

.dialog-content .buttons {
  margin-top: 10px;
  text-align: center;
}

.dialog-content .buttons .btn-single {
  width: 50%;
}

.dialog-content .buttons .btn-double {
  width: 40%;
}
