<div class="config">
  <h1 class="page-header">{{page_info.title}}</h1>
  <p class="btn-double-group">
    <button class="btn btn-primary" ng-click="onSaveIssue()" ng-disabled="!isOptionChanged()">{{'CAPTION_SAVE' | translate}}</button>
    <button class="btn btn-danger" ng-click="onCancel()" >{{'CAPTION_CANCEL' | translate}}</button>
  </p>
  <div class="panel panel-default">
    <div class="panel-heading">{{'CAPTION_ISSUE_NAME' | translate}}</div>
    <div class="panel-body">
      <input text class="form-control" id="issueNameInput"
        placeholder="{{'HINT_INPUT_ISSUE_NAME' | translate}}" ng-model="issue_object.name" />
    </div>
  </div>
  <!-- No Option Data View -->
  <div ng-if="!options_list || options_list.length == 0">
    <button class="btn btn-primary" ng-click="onAddOption()">{{'CAPTION_ADD_OPTION' | translate}}</button>
  </div>
  <div class="panel panel-default" ng-if="options_list && options_list.length > 0">
    <div class="panel-heading">{{'CAPTION_OPTIONS_LIST' | translate}}</div>
    <div class="panel-body">
      <!-- Option Data View -->
      <p>
        <button class="btn btn-danger" ng-click="onDeleteCheckedOptions()" ng-disabled="!hasCheckedOptions()">{{'CAPTION_DELETE_SELECTED' | translate}}</button>
        <button class="btn btn-primary" ng-click="onAddOption()">{{'CAPTION_ADD_OPTION' | translate}}</button>
      </p>
      <tree-grid tree-data="options_list" col-defs="col_defs" expand-on="expanding_property" icon-leaf="glyphicon glyphicon-minus"></tree-grid>
    </div>
  </div>
</div>
