<div class="config">
  <h1 class="page-header">{{page_info.title}}</h1>
  <p class="btn-double-group">
    <button class="btn btn-primary" ng-click="onSaveOption()" ng-disabled="!isOptionChanged() || !isOptionValid()">{{page_info.caption_btn_confirm}}</button>
    <button class="btn btn-danger" ng-click="onCancel()" >{{'CAPTION_CANCEL' | translate}}</button>
  </p>
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="form-group col-xs-6">
          <label for="optionParentNameButton">{{'CAPTION_OPTION_PARENT' | translate}}</label>
          <div class="btn-group" uib-dropdown>
            <button id="optionParentNameButton" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="!canHaveParent()">
              {{selected_parent_object.name}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="optionParentNameButton" >
              <li ng-repeat="root_option in root_options_list" role="menuitem"><a ng-click="onSelectParentOption(root_option)">{{root_option.name}}</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-xs-6">
          <label for="optionNameInput">{{'CAPTION_OPTION_NAME' | translate}}</label>
          <input text class="form-control" id="optionNameInput" ng-required="true"
            placeholder="{{'HINT_INPUT_OPTION_NAME' | translate}}" ng-model="option_object.name" />
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="form-group col-xs-6" ng-repeat="option_value in values_list track by $index" >
        <label for="optionValueInput">{{('CAPTION_OPTION_VALUE_NAME' | translate) + ($index+1)}}</label>
        <div class="input-group">
          <input text class="form-control" id="optionValueInput"
            placeholder="{{'HINT_INPUT_OPTION_VALUE_NAME' | translate}}" ng-model="option_value.name" />
          <span class="input-group-btn">
            <button class="btn btn-danger" ng-click="removeOptionValueInput($index)">{{'CAPTION_DELETE' | translate}}</button>
          </span>
        </div>
      </div>
      <div class="col-xs-12">
        <button class="btn btn-primary" ng-click="addOptionValueInput()">{{'CAPTION_ADD_OPTION_VALUE' | translate}}</button>
      </div>
    </div>
  </div>
</div>
