.report .message {
  margin-top: 100px;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
}

.report .table .hcenter {
  text-align: center;
}

.report .table > tbody > tr > td {
  vertical-align: middle;
}

.report .row {
  margin-bottom: 10px;
}
