.config .panel-heading,
.config .panel-title {
  font-size: 20px;
  cursor: pointer;
}

.config .panel-heading a {
  text-decoration: none;
}

.config .message {
  font-size: 20px;
}

.config .btn-add {
  float: right !important;
  width: 200px;
}

.config .table .hcenter {
  text-align: center;
}

.config .table > tbody > tr > td {
  vertical-align: middle;
}

.config .panel-btn-group button {
  width: 15%;
}

.config .btn-double-group button {
  width: 49%;
}

.config .btn-double-group button:last-child {
  float:right !important;
}

.config .form-group label {
  font-size: 20px;
}
