<div class="dialog-content">
  <h2>{{dialog_info.title}}</h2>
  <div class="content">
    {{dialog_info.remove_data_note}}
    <ul>
      <li ng-repeat="item in dialog_info.to_remove_list">{{item.name}}</li>
    </ul>
  </div>
  <div class="buttons">
    <button class="btn btn-primary btn-double" ng-click="onRemoveDialogConfirm(true)" >{{'CAPTION_YES' | translate}}</button>
    <button class="btn btn-danger btn-double" ng-click="onRemoveDialogConfirm(false)" >{{'CAPTION_NO' | translate}}</button>
  </div>
</div>
