<div class="report">
  <h1 class="page-header">{{'CAPTION_GENERATE_REPORT' | translate}}</h1>
  <h3>{{'CAPTION_SELECT_GENERATE_DATE_RANGE' | translate}}</h3>
  <!-- Date Range Selector -->
  <div class="row">
    <div class="col-xs-6">
      <label>{{'CAPTION_START_DATE' | translate}}</label>
      <p class="input-group">
        <input type="text" class="form-control" uib-datepicker-popup ng-model="date_range.start" ng-change="onStartDateChanged()" is-open="start_date_popup.opened"
          ng-required="true" close-text="{{'CAPTION_CLOSE' | translate}}" current-text="{{'CAPTION_TODAY' | translate}}" clear-text="{{'CAPTION_CLEAR' | translate}}"/>
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="openStartDatePopup()"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
      </p>
    </div>
    <div class="col-xs-6">
      <label>{{'CAPTION_END_DATE' | translate}}</label>
      <p class="input-group">
        <input type="text" class="form-control" uib-datepicker-popup ng-model="date_range.end" ng-change="onEndDateChanged()" is-open="end_date_popup.opened"
          ng-required="true" close-text="{{'CAPTION_CLOSE' | translate}}" current-text="{{'CAPTION_TODAY' | translate}}" clear-text="{{'CAPTION_CLEAR' | translate}}" />
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="openEndDatePopup()"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
      </p>
    </div>
  </div>
</div>
